<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<main layout:fragment="content">
<h1 th:text="#{게시물_목록}">게시물 목록</h1>
<table>
    <thead>
    <tr>
        <th th:text="#{게시물_번호}">게시글 번호</th>
        <th th:text="#{게시글_제목}">제목</th>
    </tr>
    <div>
        <a th:href="@{/board/write}" th:text="#{글쓰기}">글 쓰기</a>
    </div>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td>
            <a th:href="@{/board/post/{id}(id=${post.id})}" th:text="${post.title}"></a>
        </td>
    </tr>
    </tbody>
</table>
</main>
</html>
