<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{board/layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h1 th:text="#{게시물_목록}">게시물 목록</h1>
<table>
    <thead>
    <tr>
        <th>게시글 번호</th>
        <th>제목</th>
    </tr>
    <div>
        <a th:href="@{/board/write}">글 쓰기</a>
    </div>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td>
            <a th:href="@{/board/post/{id}(id=${post.id})}" th:text="${post.title}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
